// stub, should be fleshed out
.cmp-button {
  padding: space("sm");
  padding-right: 0;
  font-size: font-size("xs");

  &--link {
    @media (hover: hover) {
      &:hover{
        text-decoration: underline;
      }  
    }
    &:focus {
      @include focus-styles;
    }
  }
}
