.cmp-current-projects {
  $full-width: 100%;
  $font-weight-regular: 400;
  $font-weight-semibold: 600;

  background-color: color("gray-400");
  box-sizing: border-box;
  padding: space("lg");

  @media (min-width: $sm-screen-width) {
    padding: space("xl");
  }

  @media (min-width: $md-screen-width) {
    padding: space("2xl");
  }

  &__header {
    display: block;
    font-family: font-family("sans-extended");
    font-size: font-size("lg");
    font-weight: $font-weight-semibold;
    margin: 0;
    margin-bottom: space("lg");
    letter-spacing: -0.02em;
    text-align: left;

    @media (min-width: $sm-screen-width) {
      font-size: font-size("xl");
    }
  }

  &__status {
    font-weight: $font-weight-regular;
  }

  &__table {
    border-collapse: collapse;
    display: block;
    width: $full-width;

    @media (min-width: $md-screen-width) {
      display: revert;
      width: calc($full-width - space("lg"));
    }
  }

  &__table-head {
    display: none;

    @media (min-width: $md-screen-width) {
      display: revert;
    }
  }

  &__table-header-row {
    font-size: font-size("3xs");
    font-weight: $font-weight-semibold;
    letter-spacing: 0.05em;
    text-align: left;
    text-transform: uppercase;
  }

  &__table-header-cell {
    display: block;

    @media (min-width: $md-screen-width) {
      display: revert;
      padding-bottom: space("sm");
    }
  }

  &__table-body {
    display: block;

    @media (min-width: $md-screen-width) {
      display: revert;
    }
  }

  &__table-body-cell,
  &__table-body-cell-header {
    display: block;

    @media (min-width: $md-screen-width) {
      display: revert;
      padding: space("xs") 0;
    }
  }

  &__table-body-cell {
    font-size: font-size("xs");
    margin: space("sm") 0;

    &:last-child {
      margin: space("sm") 0 space("lg");
    }

    @media (min-width: $sm-screen-width) {
      font-size: font-size("md");
    }

    @media (min-width: $md-screen-width) {
      font-size: font-size("lg");
      margin: unset;
    }
  }

  &__table-body-cell-header {
    font-size: font-size("md");
    font-weight: $font-weight-regular;
    letter-spacing: -0.02em;
    margin: space("lg") 0 space("md");
    text-align: left;

    @media (min-width: $sm-screen-width) {
      font-size: font-size("lg");
    }

    @media (min-width: $md-screen-width) {
      letter-spacing: unset;
      margin: unset;
      text-transform: unset;
    }
  }

  &__table-body-row {
    border: solid;
    border-color: color("gray-200");
    border-width: 0 0 1px;
    display: block;
    font-weight: $font-weight-regular;
    letter-spacing: -0.02em;

    &:last-child {
      border-bottom: none;

      .cmp-current-projects {
        &__table-body-cell:last-child {
          margin: space("sm") 0;
        }
      }
    }

    @media (min-width: $md-screen-width) {
      border-width: 1px 0;
      display: revert;

      &:first-child {
        border-top: none;
      }
    }
  }

  /* stylelint-disable selector-class-pattern */
  &__table-body > .cmp-current-projects__table-body-row + .cmp-current-projects__table-body-row {
    margin-top: space("sm");

    @media (min-width: $md-screen-width) {
      margin-top: unset;
    }
  }
  /* stylelint-enable selector-class-pattern */

  &__header-label,
  &__label {
    font-family: font-family("sans-extended");
    font-weight: $font-weight-semibold;
  }

  &__header-label {
    display: block;
    font-size: font-size("3xs");
    letter-spacing: 0.05em;
    margin-bottom: space("xs");
    text-align: left;
    text-transform: uppercase;

    @media (min-width: $md-screen-width) {
      display: none;
    }
  }

  &__label {
    font-size: font-size("xs");
    display: inline;

    @media (min-width: $sm-screen-width) {
      font-size: font-size("md");
    }

    @media (min-width: $md-screen-width) {
      display: none;
    }
  }
}
