.cmp-filter-results {
  font-size:
    linear-scale(
      font-size("md"),
      font-size("lg"),
      $sm-screen-width,
      $lg-screen-width
    );
  font-family: font-family("sans-extended");
  margin-bottom: space("lg");

  > span {
    display: block;

    @media (min-width: $sm-screen-width) {
      display: initial;
    }
  }
}
