.cmp-fun-facts {
  width: 100%;

  &__header {
    font-family: font-family("sans-extended");
    font-size: font-size("lg");
    font-weight: 600;
    margin: 0;
    margin-bottom: space("md");

    @media (min-width: $sm-screen-width) {
      font-size: font-size("xl");
      margin-bottom: space("lg");
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: inside;
  }

  &__fact {
    font-size: font-size("md");
    margin: space("sm") 0;

    @media (min-width: $sm-screen-width) {
      font-size: font-size("lg");
    }
  }
}
