.cmp-hours-bar {
  $full-width: 100%;

  --fill-ratio: 0;

  margin-top: space("sm");
  margin-bottom: 0;
  background-color: color("gray-300");
  overflow: hidden;
  border-radius: 0.125rem;
  height: 0.375rem;
  width: $full-width;

  &__fill {
    height: 100%;
    width: calc(var(--fill-ratio) * $full-width);

    &--fill-green {
      background-color: color("green-50");
    }

    &--fill-blue {
      background-color: color("blue-50");
    }
  }

  .cmp-trading-card-grid[data-view="list"] & {
    margin-top: 0;
    height: 0.5rem;
    width: 100%;
    order: 1;
  }
}
