.cmp-past-clients {
  width: 100%;
  margin-top: space("xl");

  &__heading {
    font-family: font-family("sans-extended");
    font-size: font-size("lg");
    font-weight: 600;

    @media (min-width: $sm-screen-width) {
      font-size: font-size("xl");
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    text-indent: 0;
  }

  &__client {
    border: 1px color("white") solid;
    display: inline-block;
    font-size: font-size("2xs");
    margin: 0 space("sm") space("sm") 0;
    padding: space("xs");
    text-transform: capitalize;
  }
}
