.cmp-personal-bio {
  $full-width: 100%;
  $header-line-height: 39px;
  $content-line-height: 29px;

  letter-spacing: -0.02em;
  width: 100%;

  &__header {
    font-family: font-family("sans-extended");
    font-size: font-size("xl");
    font-weight: 600;
    line-height: $header-line-height;
    margin: 0;
    margin-bottom: space("lg");
  }

  &__content {
    font-size: font-size("lg");
    line-height: $content-line-height;
    margin: space("xs") 0;
  }
}
