.cmp-profile-photo {
  $image-size: $max-trading-card-width;
  $animation-duration: 450ms;
  $animation-timing-function: cubic-bezier(0.36, 0.36, 0.09, 0.9);

  order: 1;
  position: relative;
  width:
    linear-scale(
      $min-trading-card-width,
      $max-trading-card-width,
      $xs-screen-width,
      $lg-screen-width
    );

  &__background {
    position: relative;
    border-radius: 100%;

    &::before {
      display: block;
      position: absolute;
      inset: 0;
      content: "";
      transition: opacity $animation-duration $animation-timing-function;
      border-radius: 100%;
    }

    &--gray {
      background:
        linear-gradient(
          90deg,
          hsl(0deg 0% 100%) -51%,
          hsl(0deg 0% 0%) 24%
        );

      &::before {
        background:
          linear-gradient(
            90deg,
            hsl(0deg 0% 50%) -51%,
            hsl(0deg 0% 0%) 120%
          );
        opacity: 0;
      }

      .cmp-trading-card:hover &::before {
        opacity: 1;
      }
    }

    &--blue {
      background:
        linear-gradient(
          90deg,
          hsl(0deg 0% 100%) -15%,
          hsl(0deg 0% 50%) 21%,
          hsl(0deg 0% 0%) 66%
        );

      &::before {
        background:
          linear-gradient(
            90deg,
            hsl(0deg 0% 100%) -21%,
            hsl(0deg 0% 50%) 60%,
            hsl(0deg 0% 0%) 114%
          );
        opacity: 0;
      }

      .cmp-trading-card:hover &::before {
        opacity: 1;
      }
    }

    &--green {
      background:
        linear-gradient(
          90deg,
          hsl(0deg 0% 100%) 54%,
          hsl(0deg 0% 50%) 101%
        );

      &::before {
        background:
          linear-gradient(
            90deg,
            hsl(0deg 0% 100%) -21%,
            hsl(0deg 0% 50%) 60%,
            hsl(0deg 0% 0%) 165%
          );
        opacity: 0;
      }

      .cmp-trading-card:hover &::before {
        opacity: 1;
      }
    }
  }

  &__overlay {
    &::after {
      position: absolute;
      inset: 0;
      border-radius: 100%;
      content: "";
      mix-blend-mode: multiply;
    }

    & > span {
      border-radius: 100%;
    }

    &--gray::after {
      background-color: color("gray-100");
    }

    &--blue::after {
      background-color: color("blue-100");
    }

    &--green::after {
      background-color: color("green-100");
    }
  }

  &__hours {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width:
      linear-scale(
        calc($image-size * 0.2),
        calc($image-size * 0.3),
        $xs-screen-width,
        $md-screen-width
      );
    height:
      linear-scale(
        calc($image-size * 0.2),
        calc($image-size * 0.3),
        $xs-screen-width,
        $md-screen-width
      );
    color: color("black");
    font-weight: 700;
    transition: background-color $animation-duration $animation-timing-function;
    z-index: 70;

    @media (min-width: $sm-screen-width) {
      bottom: space("lg");
    }

    &--gray {
      background-color: color("gray-100");

      .cmp-trading-card:hover & {
        background-color: color("gray-200");
      }
    }

    &--blue {
      background-color: color("blue-50");

      .cmp-trading-card:hover & {
        background-color: color("blue-100");
      }
    }

    &--green {
      background-color: color("green-50");

      .cmp-trading-card:hover & {
        background-color: color("green-100");
      }
    }
  }

  &__hours-text {
    font-size:
      linear-scale(
        font-size("md"),
        font-size("xl"),
        $xs-screen-width,
        $lg-screen-width
      );
  }

  .cmp-card-grid[data-view="list"] & {
    display: none;
  }
}
