.cmp-reset-filters {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;

  &__button {
    appearance: none;
    border: none;
    background-color: transparent;
    color: color("white");
    font-family: font-family("sans-extended");
    font-size: font-size("xs");
    font-weight: 400;
    letter-spacing: -0.02em;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      @include focus-styles;
    }
  }
}
