.cmp-select-control {
  &__label {
    font-size: font-size("3xs");
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__menu {
    appearance: none;
    background:
      color("gray-400")
      url("data:image/svg+xml;utf8,<svg viewBox='0 0 14 9' width='14' height='9' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='m0,1.5,7,7.4,7-7.4L12.6,0,7,6,1.4,0,0,1.5Z' clip-rule='evenodd' fill='%23a9a9a9'/></svg>")
      no-repeat;
    background-position: right 20px top 50%;
    border: 1px solid color("gray-100");
    color: color("white");
    display: block;
    font-size: font-size("xs");
    margin-top: space("sm");
    padding: space("sm");
    position: relative;
    width: 100%;
  }
}
