.cmp-skills-grid {
  width: 100%;

  &__heading {
    font-size: font-size("xl");
    font-family: font-family("sans-extended");
    font-weight: 600;
  }

  &__category {
    width: 10rem;

    &-title {
      text-transform: uppercase;
      font-size: font-size("md");
      font-weight: 400;
    }
  }

  &__skill {
    display: block;
    text-transform: capitalize;
    font-size: font-size("md");
    margin: space("sm") 0;
    font-weight: 300;
  }
}
