.cmp-skills-grid {
  $font-weight-semibold: 600;

  background-color: color("gray-400");
  box-sizing: border-box;
  padding: space("lg");
  width: 100%;
  margin-top: space("xl");

  @media (min-width: $sm-screen-width) {
    padding: space("xl");
  }

  @media (min-width: $md-screen-width) {
    padding: space("2xl");
  }

  &__heading {
    font-family: font-family("sans-extended");
    font-size: font-size("lg");
    font-weight: $font-weight-semibold;
    letter-spacing: -0.02em;
    margin: 0;
    margin-bottom: space("lg");

    @media (min-width: $sm-screen-width) {
      font-size: font-size("xl");
    }
  }

  &__category {
    width: 10rem;

    &-title {
      font-size: font-size("3xs");
      font-weight: $font-weight-semibold;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
  }

  &__skill {
    display: block;
    font-size: font-size("xs");
    margin: space("sm") 0;
    text-transform: capitalize;

    @media (min-width: $sm-screen-width) {
      font-size: font-size("md");
    }

    @media (min-width: $md-screen-width) {
      font-size: font-size("lg");
    }
  }
}
