.cmp-trading-card-image {
  $image-size: $trading-card-width;

  width: $image-size;
  position: relative;

  &__overlay {
    position: relative;
    height: $image-size;
    z-index: 30;

    &::after {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      content: "";
      transition: opacity 125ms linear;

      .cmp-trading-card:hover & {
        opacity: 0;
      }
    }

    &--gray::after {
      background-image:
        linear-gradient(
          90deg,
          color("gray-200") -51%,
          transparent 24%
        );
    }

    &--blue::after {
      background-image:
        linear-gradient(
          90deg,
          color("blue-50-transparency-75") -15%,
          color("blue-50-transparency-50") 21%,
          transparent 66%
        );
    }

    &--green::after {
      background-image:
        linear-gradient(
          90deg,
          color("green-50") 20%,
          color("green-50-transparency-50") 81%,
          transparent 171%
        );
    }
  }

  &__image {
    position: relative;
    height: $image-size;
    border-radius: 50%;
    overflow: hidden;
    z-index: 50;

    &::after {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      content: "";
      transition: opacity 125ms linear;
    }

    &--gray::after {
      background-color: color("gray-200-transparency-50");
    }

    &--blue::after {
      background-color: color("blue-100-transparency-50");
    }

    &--green::after {
      background-color: color("green-100-transparency-50");
    }
  }

  &__hours-container {
    position: absolute;
    right: 0;
    bottom: space("lg");
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc($image-size * 0.3);
    height: calc($image-size * 0.3);
    border-radius: 50%;
    font-weight: 700;
    color: color("black");
    transition: background-color 125ms linear;
    z-index: 70;

    &--gray {
      background-color: color("gray-100");

      .cmp-trading-card:hover & {
        background-color: color("gray-200");
      }
    }

    &--blue {
      background-color: color("blue-50");

      .cmp-trading-card:hover & {
        background-color: color("blue-100");
      }
    }

    &--green {
      background-color: color("green-50");

      .cmp-trading-card:hover & {
        background-color: color("green-100");
      }
    }
  }

  &__hours {
    font-size: font-size("xl");
  }
}
