.cmp-trading-card-grid {
  position: relative;
  width: 100%;
  margin: 0 auto;

  &__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__grid {
    position: relative;

    .cmp-trading-card-grid[data-view="grid"] & {
      $grid-col-width: linear-scale(
        $min-trading-card-width,
        $max-trading-card-width,
        $xs-screen-width,
        $lg-screen-width
      );

      display: grid;
      align-items: start;
      justify-content: space-around;
      grid-template-columns: repeat(auto-fill, $grid-col-width);

      $column-gap: linear-scale(
        space("xs"),
        space("md"),
        $xs-screen-width,
        $lg-screen-width
      );
      $row-gap: linear-scale(
        space("sm"),
        space("xl"),
        $xs-screen-width,
        $lg-screen-width
      );

      gap: $row-gap $column-gap;
    }

    &--hidden {
      opacity: 0;
    }

    &--fadeout {
      animation: fadeout 225ms ease-out forwards;
    }

    &--fadein {
      animation: fadein 250ms cubic-bezier(0.36, 0.36, 0.09, 0.9) forwards;
    }
  }
}
