.cmp-trading-card {
  width: 100%;
  display: block;

  &__name {
    display: inline-block;
    font-size:
      linear-scale(
        font-size("md"),
        font-size("xl"),
        $xs-screen-width,
        $lg-screen-width
      );
    margin-top: space("sm");
    margin-bottom: 0;
    font-weight: 500;

    .cmp-trading-card:hover & {
      text-decoration: underline;
    }

    .cmp-card-grid[data-view="list"] & {
      margin-right: space("md");

      @media (min-width: $md-screen-width) {
        margin-bottom: space("sm");
      }
    }
  }

  &__title {
    margin-top: 0;
    font-size:
      linear-scale(
        font-size("xs"),
        font-size("md"),
        $xs-screen-width,
        $lg-screen-width
      );
    font-weight: 300;

    .cmp-card-grid[data-view="list"] & {
      margin-bottom: space("xs");

      @media (min-width: $md-screen-width) {
        display: inline;
      }
    }
  }

  &__hrs {
    &--green {
      color: color("green-50");
    }

    &--blue {
      color: color("blue-50");
    }

    .cmp-card-grid[data-view="grid"] & {
      @include visually-hidden;
    }

    .cmp-card-grid[data-view="list"] & {
      font-size:
        linear-scale(
          font-size("md"),
          font-size("xl"),
          $xs-screen-width,
          $lg-screen-width
        );
      margin: space("sm") 0 0 auto;
      font-weight: 500;
      display: inline;
    }
  }

  &:focus {
    @include focus-styles;
  }

  .cmp-card-grid[data-view="grid"] & {
    width:
      linear-scale(
        $min-trading-card-width,
        $max-trading-card-width,
        $xs-screen-width,
        $lg-screen-width
      );
  }

  .cmp-card-grid[data-view="list"] & {
    margin-bottom: space("xl");
    display: flex;
    flex-flow: row wrap;
  }
}
