.cmp-week-select {
  $sm-arrow-width: 0.92rem;
  $md-arrow-width: 1.38rem;
  $lg-arrow-width: 2.1rem;

  margin: space("xl") auto space("md");

  @media (min-width: $lg-screen-width) {
    margin: space("logo-to-header") auto space("md");
  }

  &__label {
    font-family: font-family("sans-extended");
    font-size: font-size("lg");
    letter-spacing: -0.02em;

    @media (min-width: $sm-screen-width) {
      font-size: font-size("xl");
    }

    @media (min-width: $md-screen-width) {
      font-size: font-size("3xl");
    }
  }

  &__menu {
    appearance: none;
    background:
      transparent
      url("data:image/svg+xml;utf8,<svg viewBox='0 0 33 19' width='14.67' height='8.44' xmlns='http://www.w3.org/2000/svg' fill='none'><path stroke='%23fff' stroke-width='2.9' d='M1.1 2 17.1 17.1M31.1 2 15 17.1'/></svg>")
      no-repeat;
    background-position: right 0.5rem top 60%;
    border: none;
    color: color("white");
    display: inline-block;
    font-family: font-family("sans-extended");
    font-size: font-size("lg");
    font-weight: 400;
    letter-spacing: -0.02em;
    margin-top: space("2xs");
    padding-right: $sm-arrow-width;
    position: relative;

    @media (min-width: $sm-screen-width) {
      background:
        transparent
        url("data:image/svg+xml;utf8,<svg viewBox='0 0 33 19' width='22' height='12.67' xmlns='http://www.w3.org/2000/svg' fill='none'><path stroke='%23fff' stroke-width='2.9' d='M1.1 2 17.1 17.1M31.1 2 15 17.1'/></svg>")
        no-repeat;
      background-position: right 0 top 60%;
      display: inline;
      font-size: font-size("xl");
      margin-top: unset;
      padding-right: $md-arrow-width;
    }

    @media (min-width: $md-screen-width) {
      background:
        transparent
        url("data:image/svg+xml;utf8,<svg viewBox='0 0 33 19' width='33' height='19' xmlns='http://www.w3.org/2000/svg' fill='none'><path stroke='%23fff' stroke-width='2.9' d='M1.1 2 17.1 17.1M31.1 2 15 17.1'/></svg>")
        no-repeat;
      background-position: right 0 top 60%;
      font-size: font-size("3xl");
      padding-right: $lg-arrow-width;
    }
  }

  &__option {
    background: color("gray-400");

    @media (min-width: $md-screen-width) {
      font-size: font-size("xl");
    }
  }
}
