.cmp-week-select {
  margin: space("xl") auto space("md");

  @media (min-width: $lg-screen-width) {
    margin: space("logo-to-header") auto space("md");
  }

  &__label {
    font-family: font-family("sans-extended");
    font-size:
      linear-scale(
        font-size("xs"),
        font-size("3xl"),
        $xs-screen-width,
        $lg-screen-width
      );
    letter-spacing: -0.02em;

    @media (min-width: $sm-screen-width) {
      margin: space("3xl") auto;
    }
  }

  &__menu {
    padding-left: 0;
    appearance: none;
    background:
      transparent
      url("data:image/svg+xml;utf8,<svg viewBox='0 0 33 19' width='14.67' height='8.44' xmlns='http://www.w3.org/2000/svg' fill='none'><path stroke='%23fff' stroke-width='2.9' d='M1.1 2 17.1 17.1M31.1 2 15 17.1'/></svg>")
      no-repeat;
    background-position: right 0.5rem top 60%;
    border: none;
    color: color("white");
    display: inline-block;
    font-family: font-family("sans-extended");
    font-size:
      linear-scale(
        font-size("xs"),
        font-size("3xl"),
        $xs-screen-width,
        $lg-screen-width
      );
    font-weight: 400;
    letter-spacing: -0.02em;
    margin-top: space("2xs");
    padding-right:
      linear-scale(
        space("md"),
        space("lg"),
        $xs-screen-width,
        $md-screen-width
      );
    position: relative;

    @media (min-width: $sm-screen-width) {
      background:
        transparent
        url("data:image/svg+xml;utf8,<svg viewBox='0 0 33 19' width='22' height='12.67' xmlns='http://www.w3.org/2000/svg' fill='none'><path stroke='%23fff' stroke-width='2.9' d='M1.1 2 17.1 17.1M31.1 2 15 17.1'/></svg>")
        no-repeat;
      background-position: right 0 top 60%;
      display: inline;
      margin-top: unset;
    }

    @media (min-width: $md-screen-width) {
      background:
        transparent
        url("data:image/svg+xml;utf8,<svg viewBox='0 0 33 19' width='33' height='19' xmlns='http://www.w3.org/2000/svg' fill='none'><path stroke='%23fff' stroke-width='2.9' d='M1.1 2 17.1 17.1M31.1 2 15 17.1'/></svg>")
        no-repeat;
      background-position: right 0 top 60%;
    }

    &:focus {
      @include focus-styles;
    }
  }

  &__option {
    background: color("gray-400");

    @media (min-width: $md-screen-width) {
      font-size: font-size("xl");
    }
  }
}
