$colors: (
  "green-50": #31f2ab,
  "green-50-transparency-75": hsl(158deg 88% 57% / 75%),
  "green-50-transparency-50": hsl(158deg 88% 57% / 50%),
  "green-100": #0bb477,
  "green-100-transparency-50": hsl(158deg 88% 37% / 50%),
  "blue-50": #46e6ff,
  "blue-50-transparency-75": hsl(188deg 100% 64% / 75%),
  "blue-50-transparency-50": hsl(188deg 100% 64% / 50%),
  "blue-100": #00abc5,
  "blue-100-transparency-75": hsl(188deg 100% 39% / 75%),
  "blue-100-transparency-50": hsl(188deg 100% 39% / 50%),
  "gray-50": #c4c4c4,
  "gray-100": #a9a9a9,
  "gray-200": #5a5a5a,
  "gray-200-transparency-50": hsl(0deg 0% 35% / 50%),
  "gray-300": #363636,
  "white": #fff,
  "black": #0a0a0a,
  "gradient-blue": hsl(188deg 100% 63% / 30%),
  "gradient-green": hsl(157deg 88% 57% / 10%),
);
