$font-size: ("3xs": 0.813rem,
    "2xs": 0.875rem,
    "xs": 1rem,
    "sm": 1.063rem,
    "md": 1.125rem,
    "lg": 1.5rem,
    "xl": 2rem,
    "2xl": 2.5rem,
    "3xl": 3rem,
    "detail-page-name": 3.5rem);
