$font-families: (
  "sans": (
    "Sole Sans",
    -apple-system,
    blinkmacsystemfont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    ubuntu,
    roboto,
    noto,
    arial,
    sans-serif,
  ),
  "sans-extended": (
    "Sole Sans Extended",
    -apple-system,
    blinkmacsystemfont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    ubuntu,
    roboto,
    noto,
    arial,
    sans-serif,
  ),
  "serif": (
    iowan old style,
    apple garamond,
    baskerville,
    times new roman,
    droid serif,
    times,
    source serif pro,
    serif,
    apple color emoji,
    segoe ui emoji,
    segoe ui symbol
  ),
  "mono": (
    menlo,
    consolas,
    monaco
  )
);
