$font-size: (
  "3xs": 0.813rem,  // 13px
  "2xs": 0.875rem,  // 14px
  "xs": 1rem, // 16px
  "sm": 1.063rem, // 17px
  "md": 1.125rem, // 18px
  "lg": 1.5rem, // 24px
  "xl": 2rem, // 32px
  "2xl": 2.5rem,  // 40px
  "3xl": 3rem,  // 48px
  "detail-page-name": 3.5rem  // 56px
);
