$spacer: (
  "2xs": 0.25rem,  // 4px
  "xs": 0.5rem,  // 8px
  "sm": 1rem,  // 16px
  "md": 1.5rem,  // 24px
  "lg": 2rem,  // 32px
  "xl": 2.63rem,  // 42px
  "2xl": 3rem,  // 48px
  "3xl": 4rem,  // 64px
  "personal-overview-margin-bottom": 5.63rem,  // 90px
  "logo-to-header": 8.5rem,  // 136px
);
