$xs-screen-width: 20rem;  // 320px
$sm-screen-width: 40rem;  // 640px
$md-screen-width: 50.63rem;  // 810px
$lg-screen-width: 60rem;  // 960px
$trading-card-width: 18rem; // 288px
$transition-quick: 250ms;
