// Font Family
$font-families: ("sans": (-apple-system,
blinkmacsystemfont,
avenir next,
avenir,
segoe ui,
helvetica neue,
helvetica,
ubuntu,
roboto,
noto,
arial,
sans-serif),
"serif": (iowan old style,
apple garamond,
baskerville,
times new roman,
droid serif,
times,
source serif pro,
serif,
apple color emoji,
segoe ui emoji,
segoe ui symbol),
"mono": (menlo,
consolas,
monaco,
liberation mono,
lucida console,
monospace));
