.obj-personal-overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: space("xl") auto;

  @media (min-width: $sm-screen-width) {
    justify-content: start;
    flex-direction: row;
    margin: space("3xl") auto;
  }
}
