.obj-personal-overview {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $sm-screen-width) {
    align-items: center;
    justify-content: start;
    flex-direction: row;
  }
}
