.obj-responsive-two-cols {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: space("lg");

  @media (min-width: $md-screen-width) {
    flex-direction: row;
  }
}
