// Introduction
// Welcome to the CSS file! This is subjectively the most exciting code
// of the website. Here we bring together the visual style of the website.

// Our CSS is organized using Harry Roberts' (csswizardry.com) Inverted
// Triangle CSS (ITCSS) organizational approach. This method is mixed with
// Block Element Modifier (BEM) naming convention for class names throughout
// the stylesheet.

// Table of Contents:
// 1. Settings
// 2. Tools
// 3. Generic
// 4. Elements
// 5. Objects
// 6. Components
// 7. Vendors
// 8. Utilities

// =====================================================================
// 1. Settings
//    When using a preprocessor, settings are used to define variable.
//    This puts variables at the top of the cascade so they are accessible
//    to all partials further down. No CSS selectors should be generated
//    by the preprocessor from partials in this section.

//    When not using a preprocessor, the settings area is a good place
//    to write comments describing the colors and font stacks as a guide.
//    If using features such as custom properties, those that are global
//    custom properties should be described in this section.
@import "./settings/colors";
@import "./settings/font-families";
@import "./settings/font-sizes";
@import "./settings/spacing";
@import "./settings/variables";

// =====================================================================
// 2. Tools
//    This section is specifically for preprocessor global mixins and
//    functions. No CSS should be generated by the preprocessor from
//    partials in this section.
@import "./tools/functions";
@import "./tools/mixins";

// =====================================================================
// 3. Generic
//    Here we define any generic styles that are not specific to the styles of
//    the site. This section should include any Reset or Normalize libraries
//    and any preferential base styles for elements. There shouldn't be any
//    classes or ids used in this section.

// =====================================================================
// 4. Elements
//    Styling for bare HTML elements (like H1, A, etc.). These come with
//    default styling from the browser so we can redefine them here.
@import "./elements/root";
@import "./elements/body";
@import "./elements/a";
@import "./elements/ul";
@import "./elements/button";

// =====================================================================
// 5. Objects
//    Class-based selectors which define undecorated design patterns,
//    for example media object known from OOCSS.
@import "./objects/layout";
@import "./objects/personal-overview";
@import "./objects/responsive-cols";
@import "./objects/skills-grid";

// =====================================================================
// 6. Components
//    Specific UI components. This is where majority of our work takes place
//    and our UI components are often composed of Objects and Components
@import "./components/animations";
@import "./components/button";
@import "./components/copy-to-clipboard-button";
@import "./components/fieldset-group";
@import "./components/filter-results";
@import "./components/filter-toggle";
@import "./components/filters";
@import "./components/fun-facts";
@import "./components/hours-bar";
@import "./components/logo";
@import "./components/past-clients";
@import "./components/personal-bio";
@import "./components/personal-overview";
@import "./components/project-select";
@import "./components/projects";
@import "./components/reset-filters";
@import "./components/skills-grid";
@import "./components/skip-to-content";
@import "./components/trading-card";
@import "./components/trading-card-grid";
@import "./components/trading-card-image";
@import "./components/week-select";
@import "./components/view-toggle";

// =====================================================================
// 7. Vendors
//    Whenever third party styles are needed add them to this section,
//    below the Components, but above the Utilities. This allows them
//    to live alongside our styles but still be overridden if needed by
//    a utility class.

// =====================================================================
// 8. Utilities
//    Utilities and helper classes with ability to override anything
//    which goes before in the triangle, eg. hide helper class
